@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Lobster', cursive;
}

body {
  width: 100%;
  background: #e3e3e3;
  text-align: center;
}

.headings {
  margin: 2rem 0;
}
.headings h1 {
  font-size: 5rem;
}

.headings p {
  font-size: 1.2rem;
  margin-top: 5px;
  color: #555;
}

.main {
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;

}

.image-container {
  height: 300px;
  overflow: hidden;
  margin: 10px;
  width: 300px;
}
.image-container img {
  object-fit: cover;
  transition: transform .5s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
}
.image-container:hover img {
  filter: grayscale(0);
  transform: scale(1.2);
}


@media (max-width: 700px) {
  .headings h1 {
    font-size: 3rem;
  }
  .headings p {
    font-size: 1rem;
  }
}
