* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(142deg, rgba(238,238,255,1) 0%, rgba(238,255,238,1) 50%, rgba(255,255,238,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 2rem;
}
.container h1 {
  margin: 1rem 0;
}

.my-input {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #333;
  border-radius: 5px;
  background: #fff;
  margin: 0.7rem 0;
}

.my-input input {
  border: none;
  background: transparent;
  font-size: 1rem;
  flex: 1;
  padding: 5px;
  outline: none;
}
.material-icons{
  padding: 0 2px;
  margin-top: 2px;
  font-size: 1.1rem;
}
.first-icon {
  background: #333;
  padding: 5px;
  color: #eee;
}

.btn {
  width: 20rem;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 5px;
  border: 1px solid #333;
  cursor: pointer;
  background: linear-gradient(142deg, rgba(238,238,255,1) 0%, rgba(238,255,238,1) 50%, rgba(255,255,238,1) 100%);
  margin: 0.7rem 0; 
}


.btn:active {
  background: #efe;
}

.error-msg {
  color: red;
  letter-spacing: 2px;
  display: none;
}