* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}
.img {
  background: background: rgb(85,85,85);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.img-1 {
  background: linear-gradient(263deg, rgba(85,85,85,0.9) 0%, rgba(235,235,235,0.9) 100%), url("./images/img.jpg") center/cover no-repeat fixed;
  min-height: 100vh; 
}
.img-2 {
  background: linear-gradient(263deg, rgba(85,85,85,0.5) 0%, rgba(170,170,170,0.7) 100%), url("./images/1.jpg") center/cover no-repeat fixed;
  min-height: 40vh; 
}
.img-3 {
  background: linear-gradient(263deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.7) 100%), url("./images/2.jpg") center/cover no-repeat fixed;
  min-height: 80vh; 
}
.img-4 {
  background: linear-gradient(263deg, rgba(196,171,46,0.2) 0%, rgba(235,235,235,0.4) 100%), url("./images/3.jpg") center/cover no-repeat fixed;
  min-height: 50vh; 
}

.text-div {
  background: #eee;
  text-align: justify;
  padding:  2rem;
}
.text-div h1{
  letter-spacing: 5px;
  color: #222;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}
.text-div p {
  color: #777;
  /* letter-spacing: 2px; */
  line-height: 1.7rem;
}