* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eee;
}
header {
  display: flex;
  /* width: 70%; */
  width: 95%;
  margin: 1rem 0;
  justify-content: space-between;
}

header > div {
  width: 100%;
  height: 6rem;
  background: #ddd;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 2px;
  border-radius: 5px;
}

header > div > p {
  font-size: 0.9rem;
  color: #333;
}
header > div > h3 {
  font-size: 2rem;
}

.color-container  {
  background: #ccc;
  color: #eee;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 4rem 0;
}

.color-container > div {
  display: inline-block;
  background: #333;
  border-radius: 3rem 1rem;
  padding: 1rem 2rem;
  font-size: 0.6rem;
}

.color-container .heading {
  letter-spacing: 0.2rem;
  color: #ccc;
}


.color-container #color-rgb {
  font-size: 2rem;
  margin-top: 2rem;
  color: #eee;
}

.color-circles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
  width: 30rem;
}

.circle {
  width: 6rem;
  height: 6rem;
  background: red;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  margin: 1rem;
  box-shadow: 0 0 10px #ccc;
}
.circle:active {
  box-shadow: 0px 0px 20px #bbb;
}
.result-screen {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.container{
  color: #333;
  background: #eee;
  padding: 2rem 4rem;
  text-align: center;
  border-radius: 1rem;
}

.container > h2 .result {
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.container > h2 {
  color: #555;
  margin: 1rem 0;
  font-weight: normal;
}

.reply-btn:active {
  background: #111;
}

.reply-btn {
  font-size: 1.2rem;
  border: none;
  background: #444;
  cursor: pointer;
  box-shadow: 1px 0 5px #333;
  color: #eee;
  padding: 0.6rem 2rem;
  border-radius: 1rem;
}

@media screen and (min-width: 900px) {
  header {
    width: 70%;
  }
  .color-container > div {
    font-size: 1rem;
  }

  .color-container .heading {
    letter-spacing: 0.8rem;
  }
  .color-container #color-rgb {
    font-size: 3rem;
  }
}