*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #f1c508;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px #efe;
  padding: 1rem 2rem;
}

.time {
  font-size: 3rem;
  padding: 1rem 2rem;
  box-shadow: 0 0 10px #333;
  background: #eee;
  border-radius: 5px;
}

.buttons {
  margin-top: 1rem;
}
button:active {
  background: #555;
}
button {
  border: none;
  margin: 0 10px;
  font-size: 1.2rem;
  background: #333;
  color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 5px #333;
  padding: 5px 15px;
  cursor: pointer;
}
.disabled {
  background: gray;
  color: #aaa;
  cursor: default;
}